# Created by .ignore support plugin (hsz.mobi)
/icrane-core/.settings/*.prefs
/icrane-spring/icrane-api/.settings/*.prefs
/icrane-spring/icrane-web/.settings/*.prefs
.idea

### Example user template template
### Example user template

### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
