<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfei.icrane.core.dao.AdvertisementInfoMapper">
    <resultMap id="BaseResultMap" type="com.bfei.icrane.core.models.AdvertisementInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="down_count" property="downCount" jdbcType="BIGINT"/>
        <result column="x_axis" property="xAxis" jdbcType="DOUBLE"/>
        <result column="y_axis" property="yAxis" jdbcType="DOUBLE"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="word_color" property="wordColor" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, content, img_url, down_count, x_axis, y_axis, create_date, update_date, word_color
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from advertisement_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAdInfoLists" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from advertisement_info
    </select>

    <update id="updateByDownCount" parameterType="java.lang.Integer">
    update advertisement_info
    set down_count=down_count+1
    where id = #{id,jdbcType=INTEGER}
  </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from advertisement_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bfei.icrane.core.models.AdvertisementInfo">
    insert into advertisement_info (id, title, content, 
      img_url, down_count, x_axis, 
      y_axis, create_date, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{downCount,jdbcType=BIGINT}, #{xAxis,jdbcType=DOUBLE}, 
      #{yAxis,jdbcType=DOUBLE}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.bfei.icrane.core.models.AdvertisementInfo">
        insert into advertisement_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="downCount != null">
                down_count,
            </if>
            <if test="xAxis != null">
                x_axis,
            </if>
            <if test="yAxis != null">
                y_axis,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="downCount != null">
                #{downCount,jdbcType=BIGINT},
            </if>
            <if test="xAxis != null">
                #{xAxis,jdbcType=DOUBLE},
            </if>
            <if test="yAxis != null">
                #{yAxis,jdbcType=DOUBLE},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bfei.icrane.core.models.AdvertisementInfo">
        update advertisement_info
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="downCount != null">
                down_count = #{downCount,jdbcType=BIGINT},
            </if>
            <if test="xAxis != null">
                x_axis = #{xAxis,jdbcType=DOUBLE},
            </if>
            <if test="yAxis != null">
                y_axis = #{yAxis,jdbcType=DOUBLE},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bfei.icrane.core.models.AdvertisementInfo">
    update advertisement_info
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      down_count = #{downCount,jdbcType=BIGINT},
      x_axis = #{xAxis,jdbcType=DOUBLE},
      y_axis = #{yAxis,jdbcType=DOUBLE},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>