<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bfei.icrane.core.dao.AgentChargeMapper">
  <resultMap id="BaseResultMap" type="com.bfei.icrane.core.models.AgentCharge">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="agent_super_income" jdbcType="DECIMAL" property="agentSuperIncome" />
    <result column="agent_one_income" jdbcType="DECIMAL" property="agentOneIncome" />
    <result column="agent_two_income" jdbcType="DECIMAL" property="agentTwoIncome" />
    <result column="agent_three_income" jdbcType="DECIMAL" property="agentThreeIncome" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create-time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, agent_super_income, agent_one_income, agent_two_income, agent_three_income, 
    update_time, create-time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from agent_charge
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from agent_charge
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bfei.icrane.core.models.AgentCharge">
    insert into agent_charge (id, order_id, agent_super_income, 
      agent_one_income, agent_two_income, agent_three_income, 
      update_time, create-time)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{agentSuperIncome,jdbcType=DECIMAL}, 
      #{agentOneIncome,jdbcType=DECIMAL}, #{agentTwoIncome,jdbcType=DECIMAL}, #{agentThreeIncome,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bfei.icrane.core.models.AgentCharge">
    insert into agent_charge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="agentSuperIncome != null">
        agent_super_income,
      </if>
      <if test="agentOneIncome != null">
        agent_one_income,
      </if>
      <if test="agentTwoIncome != null">
        agent_two_income,
      </if>
      <if test="agentThreeIncome != null">
        agent_three_income,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create-time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="agentSuperIncome != null">
        #{agentSuperIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentOneIncome != null">
        #{agentOneIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentTwoIncome != null">
        #{agentTwoIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentThreeIncome != null">
        #{agentThreeIncome,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bfei.icrane.core.models.AgentCharge">
    update agent_charge
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="agentSuperIncome != null">
        agent_super_income = #{agentSuperIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentOneIncome != null">
        agent_one_income = #{agentOneIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentTwoIncome != null">
        agent_two_income = #{agentTwoIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentThreeIncome != null">
        agent_three_income = #{agentThreeIncome,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create-time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bfei.icrane.core.models.AgentCharge">
    update agent_charge
    set order_id = #{orderId,jdbcType=BIGINT},
      agent_super_income = #{agentSuperIncome,jdbcType=DECIMAL},
      agent_one_income = #{agentOneIncome,jdbcType=DECIMAL},
      agent_two_income = #{agentTwoIncome,jdbcType=DECIMAL},
      agent_three_income = #{agentThreeIncome,jdbcType=DECIMAL},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create-time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.bfei.icrane.core.models.AgentCharge">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="agent_super_income" jdbcType="DECIMAL" property="agentSuperIncome" />
    <result column="agent_one_income" jdbcType="DECIMAL" property="agentOneIncome" />
    <result column="agent_two_income" jdbcType="DECIMAL" property="agentTwoIncome" />
    <result column="agent_three_income" jdbcType="DECIMAL" property="agentThreeIncome" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create-time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, agent_super_income, agent_one_income, agent_two_income, agent_three_income, 
    update_time, create-time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from agent_charge
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from agent_charge
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bfei.icrane.core.models.AgentCharge">
    insert into agent_charge (id, order_id, agent_super_income, 
      agent_one_income, agent_two_income, agent_three_income, 
      update_time, create-time)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{agentSuperIncome,jdbcType=DECIMAL}, 
      #{agentOneIncome,jdbcType=DECIMAL}, #{agentTwoIncome,jdbcType=DECIMAL}, #{agentThreeIncome,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bfei.icrane.core.models.AgentCharge">
    insert into agent_charge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="agentSuperIncome != null">
        agent_super_income,
      </if>
      <if test="agentOneIncome != null">
        agent_one_income,
      </if>
      <if test="agentTwoIncome != null">
        agent_two_income,
      </if>
      <if test="agentThreeIncome != null">
        agent_three_income,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create-time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="agentSuperIncome != null">
        #{agentSuperIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentOneIncome != null">
        #{agentOneIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentTwoIncome != null">
        #{agentTwoIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentThreeIncome != null">
        #{agentThreeIncome,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bfei.icrane.core.models.AgentCharge">
    update agent_charge
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="agentSuperIncome != null">
        agent_super_income = #{agentSuperIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentOneIncome != null">
        agent_one_income = #{agentOneIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentTwoIncome != null">
        agent_two_income = #{agentTwoIncome,jdbcType=DECIMAL},
      </if>
      <if test="agentThreeIncome != null">
        agent_three_income = #{agentThreeIncome,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create-time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bfei.icrane.core.models.AgentCharge">
    update agent_charge
    set order_id = #{orderId,jdbcType=BIGINT},
      agent_super_income = #{agentSuperIncome,jdbcType=DECIMAL},
      agent_one_income = #{agentOneIncome,jdbcType=DECIMAL},
      agent_two_income = #{agentTwoIncome,jdbcType=DECIMAL},
      agent_three_income = #{agentThreeIncome,jdbcType=DECIMAL},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create-time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>